.shops-wrapper {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.shop-wrapper {
  flex: 1;
  max-width: 25%;
  box-sizing: border-box;
  padding: 20px;
}

.shop-wrapper img {
  min-width: 200px;
  width: 100%;
}
